
.container{
    background-color: rgba(37, 35, 41, 1);

    display: grid;
    grid-template-columns: 300px 1fr;
  

    max-height: 100vh;
    max-width: 100vw;

}

.right{
    padding: 0 55px;
    display: grid;
    grid-template-rows: 90px 1fr 90px;
}