<div class="container">
    <div class="info">
        <div class="icn"></div>
        <div class="name">Nombre</div>
        <div class="position">Developer</div>
    </div>


    <div class="hide">
        <div class="contacts">

        <div class="colX">
            <div class="icnContact" [ngStyle]="{'background-color':'red'}">
            </div>
            <div class="dataContact">
                <div class="gnr">General</div>
                <div class="name">Roberto</div>
                <div class="msg">Today i will continue...</div>
            </div>
        </div>

        <div class="colX" *ngFor="let data of dataDummy">
                <div class="icnContact" [ngStyle]="{'background-color':data.color}" > 
            </div>
            <div class="dataContact">
                <div class="name" >{{data.name}}</div>
                <div class="msg">{{data.msg}}</div>
            </div>
        </div>

    </div>
    </div> 
     
</div>