.container {
  background-color: rgba(18, 15, 19, 1);
  color: rgb(255, 255, 255);

  height: 100vh;

  display: grid;
  grid-template-rows: 220px 1fr;
  
}

/*---------------------------------------------------*/
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
info > .name,
.position {
  width: 155px;
  height: 23px;

  text-align: center;
}
.info > .icn {
  background-color: rgba(88, 177, 97, 1);

  border-radius: 4px;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
/*-----------------------------------------------------*/
.hide {
  overflow: hidden;
  /* padding-bottom: 10px; */
}
.contacts {
  width: 100%;
  max-height: 100%;
  overflow: auto; /* Make sure the inner div is not larger than the container so that we have room to scroll.*/
  margin-right: -100px;
  padding-right: 100px;
  /* Pick an arbitrary margin/padding that should be bigger
      than the max width of all the scroll bars across
      the devices you are targeting.
      padding = -margin
     */
}
.colX {
  width: 100%;
  height: 80px;

  display: grid;
  grid-template-columns: 80px 1fr;
}

.colX:hover {
  background-color: rgba(37, 35, 41, 1);
}

.icnContact {
  /* background-color: lightcoral; */
  margin: auto;
  border-radius: 4px;

  width: 40px;
  height: 40px;
}
/*---------------------------------------------------*/
.dataContact {
  /* display: grid;
  grid-template-rows: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dataContact > .gnr {
  /* width: 155px; */
  width: 100%;
  height: 23px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
}

.dataContact > .name {
  /* width: 155px; */
  width: 100%;
  height: 23px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
}
 
.dataContact > .msg {
  width: 202px;
  /* width: 100%; */
  height: 23px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;
} 
